<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Logout</title>
    <link rel="stylesheet" href="{% static "css/tweet.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <script type="text/javascript" src={% static "js/jquery.js" %}>

    </script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="jumbotron" style="margin-top:30px;background:black;color:white;">
      <h2 align=center> <i>"O<span style="color:red;">l</span>x"</i> </h2>
      </div>
    </div>
    <div class="container-fluid">
      <div class="jumbotron">
        <h3><i>thank you for spending some quality time with our website..!</i></h3>
        use again.?
        <a href="/accounts/login" class="btn btn-success">login</a>

      </div>

    </div>
 <script type="text/javascript" src={% static "js/tweet.js" %}>

 </script>
  </body>
</html>
